/*GERNERAL*/
/*scrolling*/
html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Quicksand', sans-serif !important;
  font-family: 'Cabin', sans-serif !important;
  font-family: 'Roboto', sans-serif !important;*/
  font-family: 'Montserrat', sans-serif !important;

  color: white;
}

.backgroundrop {
  width: 100%;
  background: url(../img/backdrop1.jpg)center/cover fixed no-repeat;
    border-top: 5px solid rgba(105, 105, 105, .1);

}

.py-5 {
  background: url(../img/backdrop1.jpg)center/cover fixed no-repeat;
  border-top: 5px solid rgba(105, 105, 105, .5);


}

/*-----------------------------------------------------------------------------*/
/*NAV BAR*/
.logo {
  width: 40%;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #FF4500;
}

/*provides padding keeps the spacing farther */
/*@media screen and (max-width:765px){
  li.line{
    border-bottom: 1px solid;
    border-bottom-color: #e9ecef;
  }
}
*/
.nav-item {
  padding: 0 1rem;
}
/*navigation bar color*/
.nav-link {
  color: white !important;
  background-color: #343a40 !important;
  transition: color .5s ease-in-out;
  text-indent: 10px;
}

/*hover effects for navbar*/
.nav-link:hover {
  color: white !important;
}

@media screen and (max-width: 65px) {
  .nav-link {
    transition: background-color 1s ease-in-out;
  }

  .nav-link:hover {
    background-color: #000000 !important;
    margin-left: 15px;
  }
}

/*thickness of nav bar*/
.navbar {
  padding: .7rem;
}

/*carosoel images made vertical
.vertical{
  transform: rotate(90deg)
}
*/
/*----------------------------------------------------------------------------*/
div.homepage {
  display: grid;
  grid-template: repeat(10, auto);y
  /*padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right:0%;
*/
  text-align: center;
  width:: 100%;
  height: 100%;
  background-color: rgb(105, 105, 105) !important;
  /*
  transition: 2s;
  animation: reveal 2s;
  box-shadow: inset 0px 0px 40px 40px rgb(90, 90, 90);

*/}

a.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

/*
@keyframes reveal {
from {
  clip-path: inset(100% 100% 100% 100%);
}
to {
  clip-path: inset(0 0 0 0);
}
}
*/
/*Jumbotron*/
.jumbotron {
  padding-bottom: 10px;
  margin-bottom: 0;
  background-color: black;
  width: 100%;
}

.aboutme1{
  text-align: center;
  font-size: 20px;
  margin-left:10%;
  margin-right:10%;
}
.aboutme {
  margin-top:10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
}

@media only screen and (max-width: 900px){
  .aboutme{
    font-size: 30px;
  }
}

/*CAROSUEL*/
/*carosel image fix*/
}

.caroselimg {
  height: 225px;
  max-height: 225px;
}

/*.sjuimage1 {
  width: 100%;
  margin-right: 20%;
  border-radius: 50%;
}
*/

/* IMAGE FLIP */

.sjuimage2 {
  margin-top:50%;
  width: 90%;
  border-radius: 50%;
  border: 5px solid #555;

}

.flip-card {
  width: 100%;
  /*margin-left: 0%;*/
  border-radius: 50%;
  background-color: transparent;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.0s;
  transform-style: preserve-3d;
  box-shadow: 100px 100px 100px 100px rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {

  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

@media screen and (max-width: 575px) {
  .sjuimage1 {
    display: none;
  }

  .sjuimage2 {
    display: none;
  }

}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
/*changing the heading font size*/


/*-----------------------------------------------------------------------------*/
/*HOBBIES*/
/*hobbies*/
/*make image hover*/
.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  /*once you hover over the image, it does a zoom in effect so image wont overflow
  */
  background: linear-gradient(rgb(0, 0, 0)rgb(0, 0, 0));
  /*black background color as overlay*/
  transition: all 2s ease;
  /*how long it takes for he transition*/
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: .9;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 10px;
  transition: background-color 1s ease-in-out;
  transition: border 1s ease-in-out;
  transition: color 1s ease-in-out;
  color: #f8f9fa;
}

.link:hover {
  background-color: #fbeee4 !important;
  opacity: .7;
  border: 1px solid #343a40;
  color: #343a40;
}

/*text box for gallery*/
.BackColor {
  background: rgba(52, 58, 64, 0.6);
  border-radius: 10px;
  height: 255px;
  border: 1px solid;
  overflow: auto;
}

.hobbyTextbox{
  padding-top:10px;
  font-size:14px;
}

ul.NoPoints{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
ul.Points{
  list-style-type:circle !important;
}
/*MYHOBBIES*/
.jumbotron1 {
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #e9ecef;
}

.myhobbies {
  text-align: center;
  margin-top: 10px;
}

.shiftright {
  margin-left: 30px;
}

.shiftleft {
  margin-right: 30px;
}

/*fontAwesome icons*/
.info{
  margin-top:4%;
  margin-bottom:-1%
}

.primary-color{
  color: #fa5b3d;
}

/* transition will change the color over the course of 2 seconds */
.info a{
  transition: color 1s ease-in-out;
}
/*hover will just change the color when the pointer hovers over icon*/
.info a:hover{
  color:#00FFCD;
}

/*fontAwesome bounce*/
.box{
  font-size: 5vw

}
.box:hover {
    align-self: flex-end;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /*background-color: #F44336;*/
    height: 5vw;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: auto;

}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    font-size: 5vw;
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-2vw); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-1vw); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.info-icon{
border:.75vw solid rgba(255,250,250,1);
border-radius: 15px;
height: 110%;
background-color: rgba(0, 0, 0, .5);
}

.info-icon-interior{
  padding-top:5%;
}


/*timeline*/
li.example {
  width: 100%;
  border-color: red !important;
  overflow-y: auto;
}

/*googlemaps*/
.jumbotron2 {
  width: 100%;
  border-style: solid;
  border-color: black;
  border-radius:10px;
  margin-top:8%;
  background-color:rgb(255,255,255,.7);
  color:black;
  padding: 30px 20px 30px 20px;

}
.mapborder{
  border-style: solid;
  border-color:black;
  border-radius:10px;
  background-color:rgb(255,255,255,.7);
  background-color: opactiy:.7;
  margin:auto;
}

  @media only screen and (min-width: 992px){
    .mapborder{
      margin-top:20%;
    }
  }
.maptop{
  background-color: white;
  color:black;
  margin-top:5%;
  padding-left:5%;
}


.map {
  margin-left:5%;
  margin-top: 10%;
  margin-bottom: 5%;
  position:relative;
  padding-right:5%;

}

h5.text1{
  display: inline-block;
}

div.backgroundrop.container-fluid{
  padding-bottom:5%;
}

@media only screen and (max-width:991px){
.margintop{
  padding-top:10%;
}
}
